.Creator {
  background-color: purple;
  width: 700px;
  max-height: 400px;
}
.Creator-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid white;
  font-size: larger;
  font-weight: bold;
}

.input-box {
  display: flex;
  width: 500px;
  flex-wrap: wrap;
}

.input-name {
  margin-left: 20px;
}

.input-box > * {
  flex: 1 1 30px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: purple;
  color: white;
  border: 2px solid white;
  padding: 5px;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.create-button {
  width: 100px;
  margin-inline: 20px;
}

.stat-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stat-button {
  width: 40px;
}

.reset-button {
  width: 100px;
  height: 30px;
  margin-bottom: 20px;
  font-size: large;
}

.editor-buttons {
  margin-block: 20px;
}
